.bg-navbar-bravo {
    background-color: #cccccc;
    background-image: linear-gradient(#ab830da3, #eaddbb);
}
.navbar-bravo .navbar-brand {
    color: #af870e;
}

.navbar-bravo .navbar-brand:hover, .navbar-bravo .navbar-brand:focus {
    color: #94720a;
}

.navbar-bravo .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-bravo .navbar-nav .nav-link:hover, .navbar-bravo .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-bravo .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-bravo .navbar-nav .show > .nav-link,
.navbar-bravo .navbar-nav .active > .nav-link,
.navbar-bravo .navbar-nav .nav-link.show,
.navbar-bravo .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-bravo .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-bravo .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-bravo .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-bravo .navbar-text a {
    color: #fff;
}

.navbar-bravo .navbar-text a:hover, .navbar-bravo .navbar-text a:focus {
    color: #fff;
}

.navbar-brand>.fa {
    color: #af870e;
}

.content-body {
    background-color: #eaeaea;
    background: url(/images/bk-02.jpg);
}

.breadcrumb-bravo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}

.breadcrumb-item-bravo + .breadcrumb-item-bravo {
    padding-left: 0.5rem;
}

.breadcrumb-item-bravo + .breadcrumb-item-bravo::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">";
    font-family: sans-serif;
}

.breadcrumb-item-bravo + .breadcrumb-item-bravo:hover::before {
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item-bravo a {
    color: #32465a;
}

.breadcrumb-item-bravo a:hover {
    color: #466f98;
}

.original-site {
    color: #bbb6a7;
}

.bravo-h1 {
    width: 100%;
    padding: .3rem .5rem;
    margin-left: 1rem;
    margin-bottom:1rem;
    border-left: 6px solid  #c0a965;
    border-bottom: 1px solid #c0a965;
    color: #6f5508;
    
}
.clearfix {
    zoom: 1;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}

.history-item {
    margin: 30px 0 10px;
    float: left;
}
.image-box {
    height: 126px;
    width:95px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    margin-right: 15px;
    overflow: hidden;
}
.history-item {
    margin-left: 22px;
}
.history-item .image-box img {
    width: 95px;
    height: 126px;
    border-radius: 4px;
}
.history-item .book-info {
    height: 126px;
    width:222px;
    position: relative;
}
.history-item .book-info .bookname {
    line-height: 21px;
    font-size: 16px;
    color: #333;
    margin-bottom: 7px;
    width: 222px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.history-item .book-info .bookname a {
    color: #333;
}
.history-item .book-info .info {
    line-height: 24px;
    color: #666;
    letter-spacing: .93px;
    height: 72px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
}
.history-item .book-info .author {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 13px;
    color: #999;
    letter-spacing: 1px;
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.history-item .book-info .cate {
    position: absolute;
    right: 4px;
    bottom: 0px;
    line-height: 20px;
    font-size: 13px;
    border: 1px solid #63511d;
    border-radius: 2px;
    padding: 0 5px;
    color: #999;
}

.latest-browsing {
    line-height: 21px;
    font-size: 14px;
    color: #999;
    width: 340px;
}
.latest-browsing a div {
    display: inline-block;
    width:23em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
